#T {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-family: monospace;
}
#T td, #T tr {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#T td {
}
